
.comments-container{
    display: inline-flex;
}
.comment-container{
    display: inline-flex;
    border: 5px solid black;
    background-color: green;
    max-height: 40vh;
}
.comment-container-current{
    display: inline-flex;
    border: 5px solid black;
    background-color: red;
    max-height: 40vh;
    margin-bottom: 20vh;
    padding-bottom: 10vh;
}
.button-and-text-area{
    padding: 10px;

    display: flex;
}
.comment-box{
    display: block;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: auto;
    border-radius: 15px;
    background-color: gray;
    box-shadow: 0 -7px 0 rgba(230,57,70,1);
}
.custom-textarea{
    border: 3px solid gray;
    min-width: 30vw !important;
    min-height: 15vh !important;
    resize: both;
    max-width: 60vw !important;
    max-height: 20vh;
}
.custom-button{

}
.custom-container{
    background-color: #6610f2;
}
.custom-container .custom-button{
    border: none;
    background-color: green;
    color: white;
    border-radius: 50%;
    transition: background-color 0.3s;
}
.custom-container .custom-button:hover{
    background-color: darkgreen;
}
