@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

#defaultCanvas0{
    position: absolute;
    top:0;
    left:0;
    z-index: 0;
}

.hero-top{
    width: 100vw;
    height: 15vh;
    position: relative;
    z-index: 3;
}

.anim-hero-content{
    width: 100vw;
    height: 45vh;
    position: relative;
    z-index: 3;
    /*background: rgba(0, 0, 0, 0.45);*/

}

.hero-bottom{
    width: 100vw;
    height: 40vh;
    position: relative;
    z-index: 3;
}

/*.hero-title{*/
/*    width: 100vw;*/
/*    height: 40vh;*/
/*    */
/*}*/

/*.hero-description{*/
/*    width: 100vw;*/
/*    height: 45vh;*/
/*    position: relative;*/
/*    z-index: 5;*/
/*}*/

.anim-hero-content h1{
    color: white;
    font-size: 26vh;
    /*font-family: 'Montserrat', sans-serif;*/
    text-shadow: 10px 10px 1px rgba(0,0,0,1);
    max-width: 100%;
    /*padding: 15vh 0 0 15vh;*/

}

.anim-hero-content h2{
    color: white;
    font-size: 6vh;
    text-shadow: 5px 5px 1px rgba(0,0,0,10);
    max-width: 100%;
    /*padding: 6vh 0 0 25vh;*/
}

.opaque-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.45);
    z-index: 3;
}