.mainDiv{
    margin-top: 100vh;
    height: 200vh;
    max-width: 100vw;
    z-index: 2;
}
.topRow{
    height: 100vh;
    background-color: black;
    position: relative;
}
.leftProfile{
    background-color: black;

}
.rightProfile{
    background-color: black;
}
.trajectory{

    height: 45%;
    background-color: black;
}
.education{

    background-color: black;
}
.experience{
    background-color: black;
}
.skills{

    height: 55%;
}
.technical{
    background-color: black;
}
.personal {
    background-color: black;
}
.roundedBox{
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 90%;
    border-radius: 15px;
    background-color: white;
    position: relative;
    box-shadow: 0 -7px 0 rgba(230,57,70,1);
}
.textArea{
    z-index: 2;
    width: 90%;
    height: 90%;
    top:5%;
    bottom: 5%;
    left: 5%;
    position: relative;
    text-align: left;
    color: black;
    font-size: 10px;
}
.my-p{
    z-index: 2;
    text-align: left;
    color: black;
    font-size: 13px;
}

.trajectoryHeader{

}
.skillsHeader{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.title-container {
    text-align: center;
    z-index: 5;
}

.title {
    font-size: 2rem; /* Adjust font size as needed */
    color: white; /* Adjust color as needed */
    /* Additional styling for the title */
}

.subtitle {
    font-size: 1.5rem; /* Adjust font size as needed */
    color: white; /* Adjust color as needed */
    /* Additional styling for the subtitle */
}
.Theader{
    margin-left: inherit;
    text-align: left;
    color: white;
    font-size: 50px;
    font-weight: bolder;
}
.Sheader{

    text-align: left;
    color: white;
    font-size: 50px;
    font-weight: bolder;
}
.header{
    z-index: 2;
    text-align: center;
    color: black;
    font-size: 20px;
}
.textArea header{
    z-index: 2;
    text-align: inherit;
    color: inherit;
    font-size: inherit;
}
.textArea my-p{
    z-index: 2;
    font-family: inherit;
    text-align: inherit;
    color: inherit;
    font-size: inherit;
}
.imageRow{
    height: 60%;
    background-color: black;
}
.personalRow{
    height: 40%;
    background-color: black;
}
.profileImage{
    z-index: 2;
}
.bi-check-circle-fill{
    z-index: 2;
    color:red;
    font-size: 20px;
}
.inline{
    z-index: 2;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.bottomRow{
    height: 100vh;
    background-color: black;
}
