.mainDiv{
    height: 200vh;
    max-width: 100vw;

}
.topRow{
    height: 100vh;
    background-color: #0a53be;
    position: relative;
}
.leftProfile{
    background-color: #0dcaf0;

}
.rightProfile{
    background-color: #0a3622;
}
.trajectory{
    height: 45%;
    background-color: #0b5ed7;
}
.education{
    background-color: #0f5132;
}
.experience{
    background-color: #0a58ca;
}
.skills{
    height: 55%;
}
.technical{
    background-color: #6ea8fe;
}
.personal {
    background-color: #9ec5fe;
}
.roundedBox{
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 90%;
    border-radius: 15px;
    background-color: white;
    position: relative;
    box-shadow: 0 -7px 0 rgba(230,57,70,1);
}
.textArea{
    
    width: 90%;
    height: 90%;
    top:5%;
    bottom: 5%;
    left: 5%;
    position: relative;
    text-align: left;
    color: black;
    font-size: 10px;
}
.my-p{
    text-align: left;
    color: black;
    font-size: 13px;
}

.trajectoryHeader{

}
.Theader{
    margin-left: inherit;
    text-align: left;
    color: white;
    font-size: 50px;
    font-weight: bolder;
}
.Sheader{
    text-align: left;
    color: white;
    font-size: 50px;
    font-weight: bolder;
}
.header{
    text-align: center;
    color: black;
    font-size: 20px;
}
.textArea header{
    text-align: inherit;
    color: inherit;
    font-size: inherit;
}
.textArea my-p{
    font-family: inherit;
    text-align: inherit;
    color: inherit;
    font-size: inherit;
}
.imageRow{
    height: 60%;
    background-color: #0f5132;
}
.personalRow{
    height: 40%;
    background-color: #1a1d20;
}
.profileImage{

}
.bi-check-circle-fill{
    color:red;
    font-size: 20px;
}
.inline{
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.bottomRow{

    height: 100vh;
    background-color: red;
}
@font-face {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
}